:root {
    --main-bg-color: #2D2D34;
    --secondary-bg-color: #C9b5C5;
    --main-font-color: #F2F3F4;
    --accent-color: #F2F3F4;
    --secondary-font-color: #2D2D34;
}

html {
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    display: grid;
    grid-template-rows: 1fr 8fr 0.5fr;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

    a:link,
    a:visited {
        color: var(--accent-color);
    }

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}   

hr {
    background-color: var(--secondary-bg-color);
    height: 2px;
    width: 75%;
    border: none;
}

.header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    border-bottom: 5px solid var(--secondary-bg-color);
}

.headshot-div {
    grid-column: 1;
    margin-left: 10px;
}

.address-info {
    grid-column: 2;
}

.email-info {
    grid-column: 3;
}

.phone-info {
    grid-column: 4;
}

.contact-icon,
.socials-icon {
    margin-right: 10px;
}

.footer {
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 5px solid var(--secondary-bg-color);
    max-height: 100px;
    padding: 10px;
}

.github-info {
    display: flex
}

.flex-all-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

#skip a:focus {
    position: absolute;
    top: 110px;
    left: 0px;
    padding: 15px;
    background-color: var(--main-bg-color);
    border-bottom: 5px solid var(--secondary-bg-color);
    border-right: 5px solid var(--secondary-bg-color);
    color: var(--main-font-color);
    z-index: 10;
}

#skip a {
    position: absolute;
    top: -100px;
    left: 0px;
}

@media screen and (max-width: 580px) {

    hr {
        display: none;
    }

    h1 {
        font-size: 1.75rem;
    }
    
    h2 {
        font-size: 1.3rem;
    }  

    .header {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .headshot-div {
        grid-row: 1;
        grid-column: 1/4;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .address-info {
        grid-row: 2;
        grid-column: 1;
    }
    
    .email-info {
        grid-row: 2;
        grid-column: 2;
    }
    
    .phone-info {
        grid-row: 2;
        grid-column: 3;
    }

    .contact-desc, .footer {
        font-size: 0.85rem;
    }

}

@media screen and (min-width:581px) and (max-width:790px){

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }  
}