:root {
    --main-bg-color: #2D2D34;
    --secondary-bg-color: #C9b5C5;
    --main-font-color: #F2F3F4;
    --accent-color: #F2F3F4;
    --secondary-font-color: black;
}

html {
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    display: grid;
    grid-template-rows: 1fr 8fr 0.5fr;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

    a:link, a:visited {
        color: var(--accent-color);
    }

.header {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    border-bottom: 5px solid #C9b5C5;
}

.headshot-div {
    grid-column: 1;
    margin-left: 10px;
}

.address-info {
    grid-column: 2;
}

.email-info {
    grid-column: 3;
}

.phone-info {
    grid-column: 4;
}

.contact-icon, .socials-icon {
    margin-right: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.landing-button {
    background: none;
    text-align: center;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--main-bg-color);
    width: 40%; 
    min-width: 100px;
    transition: 0.25s;
}

    .landing-button:link, .landing-button:visited {
        color: var(--main-bg-color);
    }

    .landing-button:hover, .landing-button:focus {
        box-shadow: inset 0 0 0 2em var(--accent-color), 0px 0px 10px 4px var(--main-bg-color);
        border-color: var(--accent-color);
    }

.github-info {
    display: flex
}

.flex-all-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-color {
    color: var(--secondary-bg-color);
}

#landing-header {
    grid-row: 1;
}

#landing-content {
    display: grid;
    grid-row: 2;
    grid-template-rows: 3fr 2fr;
    height: 100%;
}

#welcome-message {
    grid-row: 1;
    padding: 10px;
    text-align: center;
}

#landing-heading {
    font-size: 4rem;
}

#landing-intro {
    text-align: center;
    font-size: 1.75rem;
    margin: auto;
    width: 60%;
}

#nav-div {
    background-color: var(--secondary-bg-color);
}

#landing-nav {
    color: var(--secondary-font-color);
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 10px;
    width: 75%;
}

#landing-footer {
    grid-row: 3;
    max-height: 100px;
    padding: 10px;
}